openapi: 3.0.0

info:
    title: superfaktura.sk API
    version: 1.0.0
    description: |
        Pomocou API môžete SuperFaktúru prepojiť napríklad s vašim e-shopom, CRM
        systémom alebo vašou webovou stránkou s objednávkovým formulárom a
        vystavovať faktúry zákazníkom automaticky.

        **POST data format** – POST requests accept either `application/json`
        (body is the JSON document itself) or
        `application/x-www-form-urlencoded` (the JSON document is sent URL
        encoded in the `data` form field). This specification describes the
        JSON body.

        **Named parameters** – list endpoints read optional parameters as
        CakePHP named parameters appended to the URL path in the form
        `/name:value` (e.g. `/invoices/index.json/listinfo:1/per_page:10`),
        not as a query string. OpenAPI cannot express them, so they are
        described as query parameters; clients have to move them into the
        path (see the README for a middleware doing that).

        **Rate limits** – responses carry `X-RateLimit-DailyLimit`,
        `X-RateLimit-DailyRemaining`, `X-RateLimit-DailyReset`,
        `X-RateLimit-MonthlyLimit`, `X-RateLimit-MonthlyRemaining`,
        `X-RateLimit-MonthlyReset` and `X-RateLimit-Message` headers.

        **Base64 search strings** – when a base64 encoded value is passed in a
        `GET` request, replace `+` with `-`, `/` with `_` and `=` with `,`.

externalDocs:
    url: https://github.com/superfaktura/docs/

servers:
    -   url: https://moja.superfaktura.sk
        description: Slovakia
    -   url: https://moje.superfaktura.cz
        description: Czech Republic
    -   url: https://meine.superfaktura.at
        description: Austria
    -   url: https://sandbox.superfaktura.sk
        description: Sandbox (SK)
    -   url: https://sandbox.superfaktura.cz
        description: Sandbox (CZ)

security:
    -   SFAPI: []

tags:
    -   name: Bank accounts
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/bank-account.md
    -   name: Cash register item
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/cash-register-item.md
    -   name: Cash register
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/cash-register.md
    -   name: Clients
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/clients.md
    -   name: Contact persons
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/contact-persons.md
    -   name: Expenses
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/expenses.md
    -   name: Export
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/export.md
    -   name: Invoice
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/invoice.md
    -   name: Other API commands
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/other.md
    -   name: Stock
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/stock.md
    -   name: Tags
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/tags.md
    -   name: Value lists
        externalDocs:
            url: https://github.com/superfaktura/docs/blob/master/value-lists.md

paths:
    /bank_accounts/add:
        post:
            summary: Add new bank account
            description: |
                At least one of `bank_name`, `iban`, `swift`, `bank_account`,
                `bank_code` is required.
            tags:
                - Bank accounts
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BankAccountReq"
            responses:
                200:
                    description: Successful creation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BankAccountAddRes"
                            example:
                                BankAccount:
                                    bank_name: NovaBanka
                                    country_id: '191'
                                    created: '2050-01-01 23:59:59'
                                    default: 1
                                    iban: SK000011112222333344
                                    id: '2'
                                    modified: '2050-01-01 23:59:59'
                                    show: 1
                                    show_account: 1
                                    swift: suzuki
                                    user_id: '1'
                                    user_profile_id: '1'
                                error: 0
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                                message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.

    /bank_accounts/update/{id}:
        post:
            summary: Update bank account specified by ID
            tags:
                - Bank accounts
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Bank account ID
                    schema:
                        type: integer
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/BankAccount"
                        example:
                            bank_name: StaroNovaBanka
                            swift: '77777'
            responses:
                200:
                    description: Successful update
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BankAccountUpdateRes"
                            example:
                                error: '0'
                                message:
                                    BankAccount:
                                        account: ''
                                        bank_code: ''
                                        bank_name: StaroNovaBanka
                                        default: true
                                        iban: SK012345678901234567890000
                                        id: 1
                                        modified: '2050-01-01 23:59:59'
                                        show: true
                                        swift: '77777'
                                        user_id: '1'
                                        user_profile_id: '1'
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                                message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                404:
                    description: Wrong bank account
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Bankový účet sa nenašiel
                                message: Bankový účet sa nenašiel

    /bank_accounts/delete/{id}:
        post:
            summary: Delete bank account specified by ID
            tags:
                - Bank accounts
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Bank account ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BankAccountDeleteRes"
                            example:
                                error: '0'
                                message: Bankový účet zmazaný
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                                message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                404:
                    description: Wrong bank account
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Účet neexistuje
                                message: Účet neexistuje

    /bank_accounts/index:
        get:
            summary: Get list of bank accounts
            description: |
                When no bank account is found, `BankAccounts` is an empty
                array.
            tags:
                - Bank accounts
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/BankAccountListRes"
                            example:
                                BankAccounts:
                                    -   BankAccount:
                                            account: ''
                                            bank_code: ''
                                            bank_name: FatraBanka
                                            country_id: '191'
                                            created: '2050-01-01 23:59:59'
                                            currency: null
                                            default: true
                                            iban: SK012345678901234567890000
                                            id: '1'
                                            modified: '2050-01-01 23:59:59'
                                            show: true
                                            swift: SUZUKI
                                            user_id: '1'
                                            user_profile_id: '1'
                                error: 0

    /cash_register_items/add:
        post:
            summary: Add cash register item
            description: |
                Add item to cash register. When `invoice_id` is set, the
                response also contains the paid `Invoice`. When `is_eet` is set,
                the response also contains `EetReceipt` and `flag`.
            tags:
                - Cash register item
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CashRegisterItemAddReq"
                        examples:
                            minimal:
                                value:
                                    CashRegisterItem:
                                        amount: 12
                                        cash_register_id: 14
                            eet:
                                value:
                                    CashRegisterItem:
                                        amount: 12
                                        cash_register_id: 8
                                        is_eet: true
                                        created: '2019-02-06 12:05:50'
                                        currency: CZK
                                        cash_item_no_formatted: '2019007'
                            withInvoice:
                                value:
                                    CashRegisterItem:
                                        amount: 12
                                        cash_register_id: 14
                                        created: '2019-02-06 12:05:50'
                                        cash_item_no_formatted: '2019007'
                                        client_id: 431
                                        description: Test description
                                        invoice_id: 1285
            responses:
                200:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterItemAddRes"
                            example:
                                CashRegister:
                                    sequence_in_no: P2020004
                                    sequence_out_no: V2020001
                                CashRegisterItem:
                                    amount: 14
                                    amount_formatted: 14,00 <span class="currency_symbol">€</span>
                                    cash_item_no: '2020003'
                                    cash_item_no_formatted: P2020003
                                    cash_register_id: 1
                                    created: '2050-01-01 23:59:59'
                                    created_formatted: 01.01.2050
                                    currency: EUR
                                    exchange_rate: 1
                                    id: '6'
                                    sequence_cnt: 3
                                    sequence_id: 6
                                    sequencein_id: 6
                                    sequenceout_id: 7
                                    type: 0
                                Summary:
                                    minus:
                                        formatted: 0,00 <span class="currency_symbol">€</span>
                                        value: null
                                    plus:
                                        formatted: 120,00 <span class="currency_symbol">€</span>
                                        value: '120.00'
                                    total:
                                        formatted: 120,00 <span class="currency_symbol">€</span>
                                        value: '120.00'
                                status: '1'
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.

    /cash_register_items/index/{id}:
        get:
            summary: Get cash register items
            description: |
                Get detailed information about cash register and its items.
                Optional parameters are passed as named parameters
                (e.g. `/cash_register_items/index/2/term:P2020003`).
            tags:
                - Cash register item
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Cash register ID
                    schema:
                        type: integer
                -   name: date_from
                    in: query
                    description: Date from (YYYY-MM-DD)
                    schema:
                        type: string
                        format: date
                -   name: date_to
                    in: query
                    description: Date to (YYYY-MM-DD)
                    schema:
                        type: string
                        format: date
                -   name: datefilter
                    in: query
                    description: Time filter (see Value lists > Time filters)
                    schema:
                        $ref: "#/components/schemas/TimeFilter"
                -   name: sum_from
                    in: query
                    description: Sum from
                    schema:
                        type: number
                        format: float
                -   name: sum_to
                    in: query
                    description: Sum to
                    schema:
                        type: number
                        format: float
                -   name: term
                    in: query
                    description: Filter items by search term (searches in `description` and `cash_item_no_formatted`)
                    schema:
                        type: string
                -   name: type
                    in: query
                    description: Type filter ("in" for income and "out" for outgo); both when omitted
                    schema:
                        type: string
                        enum:
                            - in
                            - out
            responses:
                200:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterItemListRes"

    /cash_register_items/delete/{id}:
        get:
            summary: Delete cash register item
            tags:
                - Cash register item
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Cash register item ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterItemDeleteRes"
                            example:
                                Summary:
                                    minus:
                                        formatted: 0,00 <span class="currency_symbol">€</span>
                                        raw: null
                                    plus:
                                        formatted: 102,00 <span class="currency_symbol">€</span>
                                        raw: '102.00'
                                    total:
                                        formatted: 102,00 <span class="currency_symbol">€</span>
                                        raw: '102.00'
                                status: 1
                400:
                    description: Wrong item
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterItemDeleteErrorRes"
                            example:
                                Summary: 0
                                status: 0
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.

    /cash_register_items/delete:
        post:
            summary: Delete multiple cash register items
            tags:
                - Cash register item
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/CashRegisterItemDeleteReq"
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterItemDeleteRes"
                            example:
                                Summary:
                                    minus:
                                        formatted: 0,00 <span class="currency_symbol">€</span>
                                        raw: null
                                    plus:
                                        formatted: 2,00 <span class="currency_symbol">€</span>
                                        raw: '2.00'
                                    total:
                                        formatted: 2,00 <span class="currency_symbol">€</span>
                                        raw: '2.00'
                                status: 1
                400:
                    description: Wrong item
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterItemDeleteErrorRes"
                            example:
                                Summary: 0
                                status: 0
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.

    /cash_register_items/receipt/{id}:
        get:
            summary: Get receipt from the cash register in PDF
            tags:
                - Cash register item
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Receipt ID
                    schema:
                        type: integer
            responses:
                200:
                    description: PDF document
                    content:
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                404:
                    description: Receipt not found

    /cash_registers/getDetails:
        get:
            summary: Get cash registers details
            description: |
                Get detailed information about cash registers and its current
                value status.
            tags:
                - Cash register
            responses:
                200:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/CashRegisterWrapper"
                            example:
                                -   CashRegister:
                                        currency: CZK
                                        description: My EET Cash Register
                                        id: '2'
                                        items: '2'
                                        name: CR2-EET
                                        sequencein_id: '6'
                                        sequenceout_id: '7'
                                        total: '1248.00'
                                        user_id: '1'
                                        user_profile_id: '1'

    /cash_registers/view/{id}:
        get:
            summary: Get cash register by ID
            description: |
                Get detailed information about cash register by ID.
            tags:
                - Cash register
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Cash register ID
                    schema:
                        type: integer
                    example: 1
            responses:
                200:
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/CashRegisterWrapper"
                400:
                    description: Invalid cash register ID
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Invalid CashRegister id
                                message: Invalid CashRegister id
                404:
                    description: Cash register not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: 'CashRegister with id: 123 not found'
                                message: 'CashRegister with id: 123 not found'

    /clients/create:
        post:
            summary: Create client
            description: |
                Create a new client. To add tags, send `Tag: {"Tag": [tagId, ...]}`
                next to `Client`.
            tags:
                - Clients
            requestBody:
                description: '`Client.name` is required.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ClientCreateReq"
                        example:
                            Client:
                                name: Jozef Mrkvicka
                                address: Bratislavská 123
                                city: Medzilaborce
                                country_id: 191
                                ico: '12345678'
                                dic: '2023513470'
                                email: jozef.mrkvicka@example.com
                                zip: 068 01
            responses:
                200:
                    description: |
                        Successful addition. Missing required data is also
                        returned with HTTP status 200 (`error: 1`,
                        `error_message: "Missing data"`).
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ClientCreateRes"
                400:
                    description: Bad data format
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Bad data format
                                error_message: Bad data format

    /clients/view/{id}:
        get:
            summary: View client detail
            tags:
                - Clients
            parameters:
                -   name: id
                    in: path
                    required: true
                    description: Client ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ClientViewRes"
                404:
                    description: Client not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Client not found
                                error_message: Client not found

    /clients/index.json/listinfo:1:
        get:
            summary: Get client list
            description: |
                Get list of clients based on filtering parameters. Parameters
                are passed as named parameters
                (e.g. `/clients/index.json/listinfo:1/search:c3VwZXJmYWt0dXJh`).
                `listinfo:1` is part of the path so the response always contains
                paging information. Without it the API returns a plain array of
                items (not modelled here).
            tags:
                - Clients
            parameters:
                -   name: direction
                    in: query
                    description: Sorting type, ASC or DESC
                    schema:
                        type: string
                        enum:
                            - ASC
                            - DESC
                        default: DESC
                -   name: page
                    in: query
                    description: Page number
                    schema:
                        type: integer
                        default: 1
                -   name: per_page
                    in: query
                    description: Number of results per page
                    schema:
                        type: integer
                -   name: sort
                    in: query
                    description: Sorting attribute
                    schema:
                        type: string
                        default: regular_count
                -   name: char_filter
                    in: query
                    description: Search by first letter of client name (non letter characters are under `#`)
                    schema:
                        type: string
                -   name: created
                    in: query
                    description: Constant specifying time filtering (see Value lists > Time filter constants)
                    schema:
                        $ref: "#/components/schemas/TimeFilterConstant"
                -   name: created_since
                    in: query
                    description: Creation date since (requires `created:3`)
                    schema:
                        type: string
                        format: date
                -   name: created_to
                    in: query
                    description: Creation date to (requires `created:3`)
                    schema:
                        type: string
                        format: date
                -   name: modified
                    in: query
                    description: Last modification date constant specifying time filtering (see Value lists > Time filter constants)
                    schema:
                        $ref: "#/components/schemas/TimeFilterConstant"
                -   name: modified_since
                    in: query
                    description: Last modification date from (requires `modified:3`)
                    schema:
                        type: string
                        format: date
                -   name: modified_to
                    in: query
                    description: Last modification date to (requires `modified:3`)
                    schema:
                        type: string
                        format: date
                -   name: search
                    in: query
                    description: |
                        Base64 encoded substring searched in name, ICO, DIC,
                        IC_DPH, bank_account, email, address, city, zip, state,
                        country, phone, fax, comment, tags and UUID
                    schema:
                        type: string
                -   name: search_uuid
                    in: query
                    description: Search by UUID
                    schema:
                        type: string
                -   name: tag
                    in: query
                    description: Tag ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ClientListRes"

    /clients/edit/{id}:
        patch:
            summary: Edit client
            description: |
                Edit an existing client. The documentation lists `name` as
                required, but the documented example sends only the changed
                attributes.
            tags:
                - Clients
            parameters:
                -   name: id
                    in: path
                    description: The ID of the client to be edited
                    required: true
                    schema:
                        type: integer
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ClientEditReq"
                        example:
                            Client:
                                uuid: 598f4b4f-6fcb-4f25-9828-bf4237a715d0
            responses:
                200:
                    description: Successful update
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                            example:
                                error: 0
                                message: The client has been saved
                400:
                    description: Bad data format
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Bad data format
                                error_message: Bad data format
                403:
                    description: Insufficient permissions
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: You can't edit this item
                                error_message: You can't edit this item
                404:
                    description: Client not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Client not found
                                error_message: Client not found

    /clients/delete/{id}:
        delete:
            summary: Delete client
            description: Delete an existing client
            tags:
                - Clients
            parameters:
                -   name: id
                    in: path
                    description: The ID of the client to be deleted
                    required: true
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ClientDeleteRes"
                            example:
                                redirect_url: /clients
                                error: 0
                                message: Contact deleted
                403:
                    description: Insufficient permissions or client has issued invoices
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                notAuthorized:
                                    value:
                                        error: 1
                                        message: You are not authorized to delete this client
                                        error_message: You are not authorized to delete this client
                                hasInvoices:
                                    value:
                                        error: 1
                                        message: You can't delete contact with invoices
                                        error_message: You can't delete contact with invoices
                404:
                    description: Client not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Client not found
                                error_message: Client not found

    /contact_people/add/api:1:
        post:
            summary: Add contact person to client
            description: Add a new contact person to an existing client.
            tags:
                - Contact persons
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ContactPersonAddReq"
                        example:
                            ContactPerson:
                                client_id: 1
                                name: John
                                email: john@example.com
            responses:
                200:
                    description: Successfully added person
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ContactPersonAddRes"
                            example:
                                data:
                                    ContactPerson:
                                        client_id: 1
                                        created: '2050-01-01 23:59:59'
                                        email: john@example.com
                                        id: '2'
                                        modified: '2050-01-01 23:59:59'
                                        name: John
                                        user_id: '1'
                                        user_profile_id: '1'
                                state: SUCCESS
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Nemôžete pridať kontaktnú osobu
                                message: Nemôžete pridať kontaktnú osobu
                404:
                    description: Wrong client
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Client not found
                                message: Client not found

    /contact_people/getContactPeople/{id}:
        get:
            summary: Get contact persons for client
            description: Get a list of contact persons for a client.
            tags:
                - Contact persons
            parameters:
                -   name: id
                    in: path
                    description: Client ID
                    required: true
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: "#/components/schemas/ContactPersonWrapper"
                            example:
                                -   ContactPerson:
                                        client_id: '3'
                                        created: '2050-01-01 23:59:59'
                                        email: janko.hrasko@example.com
                                        id: '1'
                                        modified: '2050-01-01 23:59:59'
                                        name: Janko Hrasko
                                        phone: null
                                        user_id: '1'
                                        user_profile_id: '1'
                404:
                    description: Wrong client
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Client not found
                                message: Client not found

    /contact_people/delete/{id}:
        get:
            summary: Delete contact person
            description: Delete a contact person from a client.
            tags:
                - Contact persons
            parameters:
                -   name: id
                    in: path
                    description: Contact person ID
                    required: true
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ContactPersonDeleteRes"
                            example:
                                error: 0
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Nemôžete vymazať kontaktnú osobu
                                message: Nemôžete vymazať kontaktnú osobu
                404:
                    description: Wrong contact person
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Contact not found
                                message: Contact not found

    /expenses/add:
        post:
            summary: Add new expense
            description: |
                Add new expense. To add tags, send `Tag: {"Tag": [tagId, ...]}`
                next to `Expense`. An attachment can be sent base64 encoded in
                `Expense.attachment`.
            tags:
                - Expenses
            requestBody:
                description: '`Expense.name` is required.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ExpenseCreateReq"
                        examples:
                            simple:
                                value:
                                    Expense:
                                        name: Foo bar
                                        currency: EUR
                                        amount: 12.14
                            multipleVatRates:
                                value:
                                    Expense:
                                        name: Expense with multiple VAT rates
                                        vat: 21
                                        amount: 100
                                        vat2: 10
                                        amount2: 100
                                        vat3: 0
                                        amount3: 100
                            withItems:
                                value:
                                    Expense:
                                        name: Expense with items
                                    ExpenseItem:
                                        -   description: description of item 1
                                            name: item 1
                                            tax: 20
                                            unit_price: 10
                            withClient:
                                value:
                                    Expense:
                                        name: Client inside
                                        currency: EUR
                                        amount: 12.14
                                    Client:
                                        name: Comp Any Ltd
                                        ico: '12345678'
                                        comment: no comment
                                        update_addressbook: 1
                                        iban: XX00000000001
                                        swift: '98765'
            responses:
                200:
                    description: |
                        Successful creation. Validation problems (e.g. document
                        number not matching the period) are returned with
                        `error: 1` and an object in `error_message`.
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseSaveRes"
                400:
                    description: Missing data
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Chýbajúce údaje
                                message: Chýbajúce údaje
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                                message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.

    /expenses/edit:
        post:
            summary: Edit expense
            description: |
                It's strongly recommended to fetch the expense, change the
                required values and then request edit. Attributes are the same
                as for *Add expense*, `name` is optional and `Expense.id` is
                required. Expense items with `id` are updated, items without
                `id` are created.
            tags:
                - Expenses
            requestBody:
                description: '`Expense.id` is required, all other attributes are optional.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ExpenseCreateReq"
                        examples:
                            simple:
                                value:
                                    Expense:
                                        id: 1
                                        name: Foo bar
                                        currency: EUR
                                        amount: 19.95
                                        due: '2148-01-01'
                            withItems:
                                value:
                                    Expense:
                                        id: 30
                                        name: Expense with items edited
                                    ExpenseItem:
                                        -   id: 32
                                            description: Description of item 1
                                            name: Item 1
                                            tax: 25
                                            unit_price: 100
                                        -   description: Description of new item
                                            name: Item 2
                                            tax: 15
                                            quantity: 1
                                            unit_price: 100
            responses:
                200:
                    description: Successfully edited
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseSaveRes"
                400:
                    description: Bad data format / missing expense ID
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 3
                                error_message: Bad data format.
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                                message: Ako používateľ typu Hosť nemáte oprávnenie na túto akciu.
                404:
                    description: Wrong expense
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Expense not found
                                message: Expense not found
                500:
                    description: Unable to save
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 5
                                error_message: The expense could not be saved. Please, try again.
                                message: The expense could not be saved. Please, try again.

    /expenses/view/{id}.json:
        get:
            summary: Expense detail
            description: |
                When the expense version is `items`, the number of `amount*`
                and `vat*` attributes equals the number of expense items.
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: id
                    required: true
                    description: Expense ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successfully show details
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseDetail"
                404:
                    description: Wrong expense
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Expense not found
                                message: Expense not found

    /expenses/downloadAttachment/{expense_id}:
        get:
            summary: Download all expense attachments
            description: |
                Download all attachments of the expense as a `.zip` file
                (equivalent to `attachment_id` = 0).
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: expense_id
                    required: true
                    description: Expense ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Binary file response
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary
                default:
                    description: Error (not found, forbidden, expense ID is 0)
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AttachmentError"

    /expenses/downloadAttachment/{expense_id}/{attachment_id}:
        get:
            summary: Download expense attachment
            description: |
                Download one specific attachment attached to the expense. If
                `attachment_id` is 0, all attachments are downloaded as a
                `.zip` file.
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: expense_id
                    required: true
                    description: Expense ID
                    schema:
                        type: integer
                -   in: path
                    name: attachment_id
                    required: true
                    description: Attachment ID within the expense (0 = all attachments as zip)
                    schema:
                        type: integer
                        default: 0
            responses:
                200:
                    description: Binary file response
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary
                default:
                    description: Error (not found, forbidden, expense ID is 0)
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/AttachmentError"
                            examples:
                                notFound:
                                    value:
                                        error_code: 0
                                        error: Príloha č.666 nebola nájdená pre náklad č.666
                                forbidden:
                                    value:
                                        error_code: 0
                                        error: Náklad neexistuje, alebo Vám nepatrí
                                zeroExpenseId:
                                    value:
                                        error_code: 0
                                        error: Číslo nákladu musí byť uvedené.

    /expenses/index.json/listinfo:1:
        get:
            summary: Get list of expenses
            description: |
                Parameters are passed as named parameters
                (e.g. `/expenses/index.json/listinfo:1/per_page:1/page:2/sort:ico`).
                `listinfo:1` is part of the path so the response always contains
                paging information. Without it the API returns a plain array of
                items (not modelled here).
            tags:
                - Expenses
            parameters:
                -   in: query
                    name: amount_from
                    description: Minimum amount of money
                    schema:
                        type: number
                        format: float
                -   in: query
                    name: amount_to
                    description: Maximum amount of money
                    schema:
                        type: number
                        format: float
                -   in: query
                    name: category
                    description: Expense category ID
                    schema:
                        type: integer
                -   in: query
                    name: client_id
                    description: Client ID
                    schema:
                        type: integer
                -   in: query
                    name: created
                    description: Constant specifying time filtering (see Value lists > Time filter constants)
                    schema:
                        $ref: "#/components/schemas/TimeFilterConstant"
                -   in: query
                    name: modified
                    description: Constant specifying time filtering (see Value lists > Time filter constants)
                    schema:
                        $ref: "#/components/schemas/TimeFilterConstant"
                -   in: query
                    name: created_since
                    description: Created date since (requires `created:3`)
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: created_to
                    description: Created date until (requires `created:3`)
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: modified_since
                    description: Modified date since (requires `modified:3`)
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: modified_to
                    description: Modified date until (requires `modified:3`)
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: delivery
                    description: Constant specifying time filtering (see Value lists > Time filter constants)
                    schema:
                        $ref: "#/components/schemas/TimeFilterConstant"
                -   in: query
                    name: delivery_since
                    description: Delivery date since (requires `delivery:3`)
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: delivery_to
                    description: Delivery date until (requires `delivery:3`)
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: direction
                    description: Sorting direction (ASC or DESC)
                    schema:
                        type: string
                        enum:
                            - ASC
                            - DESC
                        default: DESC
                -   in: query
                    name: due
                    description: Due date
                    schema:
                        type: string
                        format: date
                -   in: query
                    name: page
                    description: Page number
                    schema:
                        type: integer
                        default: 1
                -   in: query
                    name: payment_type
                    description: Payment type (see Value lists > Payment types)
                    schema:
                        $ref: "#/components/schemas/PaymentType"
                -   in: query
                    name: per_page
                    description: Number of items per page (max 100), defaults to the value set in profile
                    schema:
                        type: integer
                        maximum: 100
                -   in: query
                    name: search
                    description: Base64 encoded string (e.g. `test` = `dGVzdA,,`)
                    schema:
                        type: string
                -   in: query
                    name: sort
                    description: Attribute to sort by
                    schema:
                        type: string
                        default: regular_count
                -   in: query
                    name: status
                    description: |
                        Expense status (see Value lists > Expense statuses).
                        Use pipe (`|`) to combine multiple statuses (e.g. `1|2`).
                    schema:
                        type: string
                -   in: query
                    name: type
                    description: Expense type (see Value lists > Expense types)
                    schema:
                        $ref: "#/components/schemas/ExpenseType"
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseListRes"

    /expenses/delete/{id}:
        get:
            summary: Delete expense
            description: Delete an expense by ID.
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: id
                    required: true
                    description: Expense ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseDeleteRes"
                            example:
                                message: Expense deleted
                                status: success
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    message:
                                        type: string
                                    status:
                                        type: string
                            example:
                                message: Expense was not deleted
                                status: error
                404:
                    description: Nonexistent ID
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Expense not found
                                message: Expense not found
                500:
                    description: Unsuccessful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 2
                                error_message: Error deleting expense.

    /expense_items/delete:
        delete:
            summary: Delete expense items
            description: |
                Delete specific items from an expense.

                | error | error_message |
                | ----- | ------------- |
                | 0 | OK |
                | 0 | Všetky položky boli zmazané a následne bola vytvorená jedna prázdna položka. |
                | 0 | Niektoré položky (%s) sa nepodarilo zmazať. |
                | 1 | Nezadali ste číslo nákladu na ktorom sa majú zmazať položky. |
                | 2 | Nezadali ste zoznam položiek nákladov na zmazanie. |
                | 3 | Náklad neexistuje alebo Vám nepatrí. |
                | 4 | Pokúšate sa zmazať položky na bezpoložkovom náklade. |
                | 5 | Náklad neobsahuje žiadne položky. |
                | 6 | Niektoré položky neexistujú alebo nepatria nákladu. |
                | 7 | Pokúšate sa zmazať všetky položky nákladu. Náklad musí obsahovať aspoň jednu položku. Môžte využiť parameter `create_blank_if_empty: true` |
                | 10 | Ani jednu položku sa nepodarilo zmazať. |
            tags:
                - Expenses
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ExpenseItemsDeleteReq"
                        example:
                            expense_id: 100
                            delete_ids:
                                - 200
                                - 201
                            create_blank_if_empty: true
            responses:
                200:
                    description: Result (see the error list in the description)
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseItemsDeleteRes"
                            examples:
                                success:
                                    value:
                                        error: 0
                                        error_message: OK
                                        data: {}
                                error:
                                    value:
                                        error: 5
                                        error_message: The expense does not exist or does not belong to you.

    /expense_payments/add:
        post:
            summary: Add expense payment
            description: Add a payment to an expense.
            tags:
                - Expenses
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ExpensePaymentAddReq"
                        example:
                            ExpensePayment:
                                expense_id: 1
                                currency: EUR
                                amount: 12
            responses:
                200:
                    description: Successfully added
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpensePaymentAddRes"
                400:
                    description: Missing data
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Chýbajúce údaje
                                message: Chýbajúce údaje
                404:
                    description: Wrong expense
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Expense not found

    /expense_payments/delete/{payment_id}:
        get:
            summary: Delete expense payment
            description: Delete an expense payment by ID.
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: payment_id
                    required: true
                    description: Payment ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                            example:
                                error: 0
                                message: Úhrada nákladu bola zmazaná
                404:
                    description: Payment not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                            example:
                                error: 1
                                message: Platba sa nenašla
                500:
                    description: Unsuccessful deletion
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                            example:
                                error: 1
                                message: Expense payment was not deleted

    /expenses/addRelatedItem:
        post:
            summary: Add related item
            description: Add a related item (document) to an expense.
            tags:
                - Expenses
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/RelatedItemReq"
                        example:
                            parent_id: 1
                            parent_type: expense
                            child_id: 2
                            child_type: invoice
            responses:
                200:
                    description: Successful linking of documents
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExpenseRelatedItemAddRes"
                400:
                    description: Invalid ID or invalid data
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            examples:
                                invalidId:
                                    value:
                                        error: 1
                                        error_message: Invalid id
                                invalidData:
                                    value:
                                        error: 1
                                        error_message: invalid data

    /expenses/deleteRelatedItem/{relation_id}:
        get:
            summary: Delete related item
            description: |
                Delete a relation between two documents. The documentation
                lists the method as POST, its example uses GET; both are
                described.
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: relation_id
                    required: true
                    description: Relation ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful removal
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 0
                                error_message: ''
        post:
            summary: Delete related item (POST)
            description: |
                Delete a relation between two documents. The documentation
                lists the method as POST, its example uses GET; both are
                described.
            tags:
                - Expenses
            parameters:
                -   in: path
                    name: relation_id
                    required: true
                    description: Relation ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful removal
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 0
                                error_message: ''

    /exports:
        post:
            summary: Export invoices
            description: |
                Export multiple invoices in PDF or XLS format. The export is
                processed asynchronously – poll `/exports/getStatus/{id}` and
                then download it with `/exports/download_export/{id}`.
            tags:
                - Export
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/ExportInvoicesReq"
                        example:
                            Invoice:
                                ids:
                                    - 1
                                    - 2
                                    - 3
                            Export:
                                is_msel: true
                                invoices_pdf: true
            responses:
                200:
                    description: Export scheduled
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExportRes"
                            example:
                                Export:
                                    id: 1
                                    type: invoice_pdf
                                    status: 3
                                    progress: 0
                                    count_total: 0
                                    count_completed: 0
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Access denied
                                error_message: Access denied

    /exports/getStatus/{id}:
        get:
            summary: Get export status
            description: |
                Get detailed information about the status of an export by its
                ID (see Value lists > Export statuses).
            tags:
                - Export
            parameters:
                -   in: path
                    name: id
                    required: true
                    description: Export ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Successful
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/ExportRes"
                            example:
                                Export:
                                    id: 1
                                    type: invoice_pdf
                                    status: 1
                                    progress: 100
                                    count_total: 50
                                    count_completed: 50
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Access denied
                                error_message: Access denied
                404:
                    description: Export not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Export not found
                                error_message: Export not found

    /exports/download_export/{id}:
        get:
            summary: Download export
            description: |
                Download the completed export by its ID. Exports are available
                for download for two days from the time of completion.
            tags:
                - Export
            parameters:
                -   in: path
                    name: id
                    required: true
                    description: Export ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Binary data (zip)
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Access denied
                                error_message: Access denied
                404:
                    description: Export not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                message: Export not found
                                error_message: Export not found

    /invoices/create:
        post:
            summary: Create invoice
            description: |
                Create new invoice. At least one invoice item must be specified
                and at least one of its `unit_price` and `name` must be filled.
                To add tags, send `Tag: {"Tag": [tagId, ...]}`. To be able to
                retrieve the response later via
                `/api_logs/getResponseByChecksum/{checksum}`, send a unique
                `checksum` (max 32 characters).
            tags:
                - Invoice
            requestBody:
                description: '`Invoice`, at least one `InvoiceItem` and `Client` with `name` are required.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/InvoiceCreateReq"
                        examples:
                            minimal:
                                value:
                                    Invoice:
                                        name: Test API
                                    InvoiceItem:
                                        -   description: description of item 1
                                            name: item 1
                                            tax: 20
                                            unit_price: 10
                                    Client:
                                        name: Company name
                                        ico: '44981082'
                            full:
                                value:
                                    Invoice:
                                        name: Test API
                                        bank_accounts:
                                            -   bank_name: New Bank
                                                iban: SK0000000000000000
                                                swift: '12345'
                                        issued_by: John Doe
                                        issued_by_email: john@d.oe
                                        issued_by_phone: '+9999999'
                                        issued_by_web: https://superfaktura.sk
                                        discount: 10
                                        header_comment: Header comment
                                        internal_comment: Internal comment
                                        invoice_currency: EUR
                                        rounding: item_ext
                                        specific: '123456'
                                        type: proforma
                                        variable: VS87654
                                        created: '2019-02-28'
                                    InvoiceItem:
                                        -   description: description of item 1
                                            name: item 1
                                            tax: 20
                                            unit_price: 10
                                            AccountingDetail:
                                                place: Slovakia
                                                order: PLA
                                                operation: UXW
                                                type: item
                                                analytics_account: '311'
                                                synthetic_account: '000'
                                                preconfidence: 5ZV
                                    Client:
                                        name: Company name
                                        ico: '46655034'
                                        comment: Client comment
                                        update_addressbook: 1
                                        iban: XX00000000001
                                        swift: '98765'
                                    InvoiceSetting:
                                        language: eng
                                        signature: true
                                        payment_info: true
                                        online_payment: true
                                        bysquare: true
                                        paypal: true
                                    InvoiceExtra:
                                        pickup_point_id: 23
                                    MyData:
                                        address: Fiktivna 1
                                        business_register: '-'
                                        city: Prague
                                        company_name: MyData Inc.
                                        country_id: 191
                                        dic: SK99999999
                                        ic_dph: ABCDE
                                        update_profile: '0'
                                        zip: 999 88
            responses:
                200:
                    description: Successful addition
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InvoiceCreateRes"
                403:
                    description: Insufficient privileges
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: You can't create invoice
                                message: You can't create invoice
                500:
                    description: Missing data or bad format
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InvoiceDataError"
                            example:
                                error: 4
                                error_message:
                                    data_bad_format: Missing required client data.

    /invoices/edit:
        post:
            summary: Edit invoice
            description: |
                Edit invoice. Attributes are the same as for *Create invoice*,
                `Invoice.name` is optional and `Invoice.id` is required.
            tags:
                - Invoice
            requestBody:
                description: '`Invoice` with `id` is required, all other attributes are optional.'
                required: true
                content:
                    application/json:
                        schema:
                            $ref: "#/components/schemas/InvoiceCreateReq"
                        example:
                            Invoice:
                                id: 2
                                discount: 5
            responses:
                200:
                    description: Successfully edited
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InvoiceEditRes"
                404:
                    description: Wrong invoice
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                            example:
                                error: 2
                                message: Invoice ID not found.
                500:
                    description: Wrong ID format / bad data
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Message"
                            example:
                                error: 1
                                message: Bad data format.

    /invoices/setinvoicelanguage/{invoice_id}/lang:{lang}:
        get:
            summary: Set invoice language
            tags:
                - Invoice
            parameters:
                -   in: path
                    name: invoice_id
                    required: true
                    description: Invoice ID
                    schema:
                        type: integer
                -   in: path
                    name: lang
                    required: true
                    description: Invoice language (see Value lists > Language list)
                    schema:
                        $ref: "#/components/schemas/Language"
            responses:
                200:
                    description: Result
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InvoiceSetLanguageRes"
                            examples:
                                success:
                                    value:
                                        message: Success
                                        status: 1
                                invalidLanguage:
                                    value:
                                        message: Language is not supported.
                                        status: 0
                                permissionDenied:
                                    value:
                                        message: Permission denied.
                                        status: 0

    /invoices/pdf/{invoice_id}/token:{token}:
        get:
            summary: Get invoice PDF
            description: |
                Return invoice PDF file. Optional parameters are passed as
                named parameters (e.g.
                `/invoices/pdf/1275/token:09feb1bd/bysquare:1`). The URL may be
                prefixed with a language code
                (e.g. `/slo/invoices/pdf/1275/token:09feb1bd`).
            tags:
                - Invoice
            parameters:
                -   in: path
                    name: invoice_id
                    required: true
                    description: Invoice ID
                    schema:
                        type: integer
                -   in: path
                    name: token
                    required: true
                    description: Invoice token (`Invoice.token`)
                    schema:
                        type: string
                -   in: query
                    name: bysquare
                    description: Adds QR code to invoice if set to 1 (otherwise the web application setting is used)
                    schema:
                        type: integer
                -   in: query
                    name: paypal
                    description: Adds PayPal button to invoice if set to 1 (otherwise the web application setting is used)
                    schema:
                        type: integer
                -   in: query
                    name: no-signature
                    description: Hides signature on invoice if set to 1 (otherwise the web application setting is used)
                    schema:
                        type: integer
                -   in: query
                    name: language
                    description: Language in which the invoice will be created (defaults to the document language)
                    schema:
                        $ref: "#/components/schemas/Language"
            responses:
                200:
                    description: PDF document
                    content:
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                404:
                    description: Invoice not found

    /{language}/invoices/pdf/{invoice_id}/token:{token}:
        get:
            summary: Get invoice PDF in language
            description: |
                Return invoice PDF file in the language given by the URL
                prefix (e.g. `/slo/invoices/pdf/1275/token:09feb1bd/bysquare:1`).
            tags:
                - Invoice
            parameters:
                -   in: path
                    name: language
                    required: true
                    description: Language in which the invoice will be created (see Value lists > Language list)
                    schema:
                        $ref: "#/components/schemas/Language"
                -   in: path
                    name: invoice_id
                    required: true
                    description: Invoice ID
                    schema:
                        type: integer
                -   in: path
                    name: token
                    required: true
                    description: Invoice token (`Invoice.token`)
                    schema:
                        type: string
                -   in: query
                    name: bysquare
                    description: Adds QR code to invoice if set to 1 (otherwise the web application setting is used)
                    schema:
                        type: integer
                -   in: query
                    name: paypal
                    description: Adds PayPal button to invoice if set to 1 (otherwise the web application setting is used)
                    schema:
                        type: integer
                -   in: query
                    name: no-signature
                    description: Hides signature on invoice if set to 1 (otherwise the web application setting is used)
                    schema:
                        type: integer
            responses:
                200:
                    description: PDF document
                    content:
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                404:
                    description: Invoice not found

    /invoices/view/{invoice_id}.json:
        get:
            summary: Get invoice detail
            tags:
                - Invoice
            parameters:
                -   in: path
                    name: invoice_id
                    required: true
                    description: Invoice ID
                    schema:
                        type: integer
            responses:
                200:
                    description: Success
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/InvoiceDetail"
                404:
                    description: Wrong invoice
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                            example:
                                error: 1
                                error_message: Invoice not found
                                message: Invoice not found

    /invoices/getInvoiceDetails/{ids}:
        get:
            summary: Get invoices details
            description: |
                Get information about multiple invoices at once. You can
                specify up to 100 invoice IDs. The response is an object keyed
                by invoice ID.
            tags:
                - Invoice
            parameters:
                -   in: path
                    name: ids
                    description: List of invoice IDs separated by comma
                    required: true
                    schema:
                        type: string
                    example: 1,2
            operationId: getInvoiceDetails
            responses:
                200:
                    description: Successful response
                    content:
                        application/json:
                            schema:
                                type: object
                                additionalProperties:
                                    $ref: "#/components/schemas/InvoiceDetail"
                400:
                    description: Error response
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"

    /invoices/index.json/listinfo:1:
        get:
            summary: Get list of invoices
            description: |
                Retrieve a list of invoices with optional filters and sorting.
                Parameters are passed as named parameters
                (e.g. `/invoices/index.json/listinfo:1/per_page:1/page:2/type:regular`).
                The list returns complete invoice data.
                `listinfo:1` is part of the path so the response always contains
                paging information. Without it the API returns a plain array of
                items (not modelled here).
            tags:
                - Invoice
            parameters:
                -   name: direction
                    in: query
                    description: Sorting direction (ASC or DESC)
                    schema:
                        type: string
                        enum:
                            - ASC
                            - DESC
                        default: DESC
                -   name: page
                    in: query
[...]
